<!DOCTYPE html>
<html>
<head>
    <title>FlaskPost - Mass Mailer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="header">FlaskPost</h1>

        <h2>Select Email Template</h2>
        <form action="/send_emails" method="post">
            <ul>
                {% for template in templates %}
                    <li>
                        <label>
                            <input type="radio" name="template" value="{{ template }}" required>
                            {{ template.replace('_template.html', '') }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="preview-btn">Select Template and Send</button>
        </form>
    </div>
</body>
</html>
