<!DOCTYPE html>
<html>
<head>
    <title>Newsletter</title>
</head>
<body>
    <div>
        <h1>Newsletter - October 2023</h1>
        <p>Hello {{ name }},</p>
        <p>Check out our latest updates and articles for this month:</p>
        <ul>
            <li><a href="#">Article 1</a></li>
            <li><a href="#">Article 2</a></li>
            <li><a href="#">Article 3</a></li>
        </ul>
        <p>Stay informed and have a great day!</p>
        <p>Best regards,<br>Your Team</p>
    </div>
</body>
</html>
