<!DOCTYPE html>
<html>
<head>
    <title>Rich Text Formatting Email</title>
</head>
<body>
    <p>Dear <strong>{{ name }}</strong>,</p>
    <p><em>This is an example of italic text.</em></p>
    <p><u>This is an example of underlined text.</u></p>
    <p>This is an example of a bulleted list:</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <p>This is an example of a numbered list:</p>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <p>This is an example of a link: <a href="https://example.com">Visit our website</a></p>
    <p>This is an example of an image: <img src="https://via.placeholder.com/150" alt="Example Image"></p>
    <p>Best regards,</p>
    <p>Your Team</p>
</body>
</html>
